/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=open_in_new');

/* Set variables */
:root {
    /* Colors */
    --color-bg: #F5E4D0;
    --color-font: #111214;
    --color-red: #FF2732;
    --color-blue: #187CAE;
    --color-dark-blue: #003F87;
    --color-yellow: #EFCF2C;
    --color-purple: #492950;

    /* Fonts */
    --font: 'Alegreya', 'Times New Roman', Times, serif;
    --font-title: 'Inknut Antiqua', 'Times New Roman', Times, serif;
}



/* --------Global Values-------- */


body {
    background-color: var(--color-bg);
    color: var(--color-font);
    font-family: var(--font);
}

html, body {
    margin: 0;
    padding: 0;
}

/* Links */
a {
    color: var(--color-dark-blue);
    text-decoration: none;

    @media (prefers-contrast: more) {
        text-decoration: underline;
    }
}

a:active {
    color: var(--color-purple);
}

a[target="_blank"]::after { /* External links */
    font-family: 'Material Symbols Outlined';
    content:"\e89e";
    margin-left: 0.5ch;
}

a:hover {
    color: var(--color-purple);
    text-decoration: underline;
}

a:visited {
    color: var(--color-purple);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    margin-top: 1.5em;
    margin-bottom: 0;
}

/* Header*/
header {
    color: var(--color-font);
    border-bottom: 3px solid var(--color-font);
    font-family: var(--font-title);
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    cursor: default;
}

header nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    font-size: 1.33rem;
    list-style: none;
    margin-left: 3rem;
}

header nav ul li:first-child {
    margin: 0;
}

header nav ul li a {
    @media (prefers-contrast: more) {
        text-decoration: none;
    }
}

header nav ul li a:visited {
    color: var(--color-black);
}

/* Main */
main {
    padding: 3rem;
    max-width: 66ch;
    margin: 0 auto;
}

main h1:first-child {
    margin-top: 0;
}

main p {
    font-weight: 500;
    text-align: justify;
}

/* Footer */
footer {
    color: var(--color-font);
    border-top: 3px solid var(--color-font);
    font-family: var(--font-title);
    padding: 1rem 6rem;

    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
}

footer h1 {
    margin-top: 0;
}

footer nav {
    width: 50%;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding-left: 2em;
}

footer span {
    width: 50%;
    font-family: var(--font);
}